@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "MaPolice";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}
body {
  font-family: "MaPolice", sans-serif;
}
#nav {
  background: transparent;
  position: fixed;
  /* padding: 0 4rem; */
  padding: 0;
  margin: auto;
  max-width: 1800px;
}
header{
  padding: 0;
  margin: 0;
}
