.container {
  position: relative;
  /* max-width: 380px; */
  width: 100%;
  background: #131313;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 40px;
  user-select: none;
}
.btn {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #0E0D0D;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
}
.btn_s {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #0E0D0D;
  border: 3px solid #5de4f6;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #5de4f6;
}
.btn_t {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #0E0D0D;
  border: 3px solid #ff62ad;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #ff62ad;
}
.btn_o {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #0E0D0D;
  border: 3px solid #63e26c;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #63e26c;
}
.btn:hover,
.btn_s:hover,
.btn_t:hover,
.btn_o:hover {
  transform: translate(5px, -5px);
}
